.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  margin: 92px 24px 90px 24px;
  padding: 0px 28.48px 0px 26.52px;
}

.header__links-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.header__links-list-item {
  font-weight: 400;
  font-size: 18px;
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style-type:none;
}

.header__logo-image {
  width: 134.11px;
  height: 106.65px;
}

.header__link {
  border-bottom: 1px solid #000000;
  color: #000000;
  font-weight: 400;
  font-size: 18px;
}

.header__link_active {
  border-bottom: none;
}

.address {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
}

.header__address {
  justify-self: end;
}

.address__link {
  border-bottom: 1px solid #000000;
}

/*                         Начало секции cover */

.cover {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 135px;
  padding: 168px 50px 52px 50px;
  color: #FFFFFF;
  text-transform: uppercase;
  background-image: url(../images/lotus-flower.png); 
  background-position: center;
  background-size: cover; 
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: rgb(0 0 0 / 60%);
}

.cover__title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 19px;
  font-weight: 700;
  font-size: 100px;
  line-height: 124px;
  letter-spacing: 30px;
}

.letter-spacing-extendet {
  letter-spacing: 60px;
}

.aligned-text_left {
  line-height: 115%;
  text-align: left;
}

.aligned-text_center {
  line-height: 100%;
  text-align: center;
}

.aligned-text_right {
  line-height: 100%;
  text-align: end;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.cover__description {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 79px;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  word-spacing: 18px;
}

.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid #FFFFFF;
  padding: 0px;
  color: #FFFFFF;
  font-family: inherit;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

/*                         Начало секции lots */

.lots {
  margin-top: 177px;
}

.lots__heading {
  margin-left: 64px;
  color: #000000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin: 27px 24px 30px 24px;
}

.lots__card-list-item {
  max-width: 334px;
  min-height: 563px;
}

.card-link {
  display: block;
  height: 100%;
  color: #FFFFFF;
}

.card {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card_type_film.png);
}

.card_type_book {
  background-image: url(../images/card_type_book.png);
}

.card_type_picture {
  background-image: url(../images/card_type_picture.png);
}

.card__title {
  position: relative;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-decoration: underline 1px;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

/* для корректировки многоточья */

.card__text__span-ellipses {
  font-size: 18px;
}

.lots__look-more-link {
  margin: 30px 0px 0px 64px;
  border-bottom: 1px solid #000000;
  font-weight: 400;
  font-size: 20px;
}

/*                         Начало секции about*/

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  align-items: center;
  column-gap: 25px;
  margin: 146px 24px 0px 24px;
  padding-top: 35px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #000000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  color: #000000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__column {
  grid-column-start: 2;
  margin-top: 7px;
}

.about__text {
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.about__text:not(:first-child) {
  margin-top: 26px;
}

/* Конец секции "ОБ АУКЦИОНЕ" */

.footer {
  display: flex;
  justify-content: space-between;
  margin: 178px 50px 91px 50px;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
}

.footer__menu {
  text-align: center;
}

.footer__social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 240px;
}

.footer__menu-list-item {
  font-weight: 400;
  font-size: 18px;
}

.footer__menu-link {
  border-bottom: 1px solid #000000;
}

.footer__link_active {
  border-bottom: none;
}